body{
    font-family: 'Poppins';
}
.sidebar{
    margin-top: 20px;
    margin-left: -20px;
    background-color: white;
    height: 950px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    padding: 40px;
    box-shadow: 1px 1px 20px gray;
    
}


.admin{
    display: flex;
    flex-direction: row;
}

.admin>h3{
    margin-top: 10px;
    font-size: 30px;
    padding-left: 20px;
    padding-bottom: 50px;
}

.admin>img{
    width: 100px;
    height: 100px;
}

.dashboard>a{
    text-decoration: none;
    color: #C9C9C9;
    padding-left: 50px;
    font-size: 20px;
    display: block;
    padding-bottom: 40px;
}

.data-konsul>a{
    text-decoration: none;
    color: #C9C9C9;
    padding-left: 50px;
    font-size: 20px;
    display: block;
    padding-bottom: 40px;
}

.list-appoint>a{
    text-decoration: none;
    color: #C9C9C9;
    padding-left: 50px;
    font-size: 20px;
    display: block;
    padding-bottom: 40px;
}

.data-pasien>a{
    text-decoration: none;
    color: #C9C9C9;
    padding-left: 50px;
    font-size: 20px;
    display: block;
    padding-bottom: 40px;
}

.rekam-medis>a{
    text-decoration: none;
    color: #C9C9C9;
    padding-left: 50px;
    font-size: 20px;
    display: block;
    padding-bottom: 40px;
}

.data-obat>a{
    text-decoration: none;
    color: #C9C9C9;
    padding-left: 50px;
    font-size: 20px;
    display: block;
    padding-bottom: 40px;
}

.Administrator>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-left: 50px;
    font-size: 20px;
    display: block;
    padding-bottom: 40px;
}

.logout>a{
    text-decoration: none;
    color: #C9C9C9;
    padding-left: 50px;
    font-size: 20px;
    display: block;
    padding-bottom: 40px;
}

.nav-bar{
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    width: 1300px;
    height: 50px;
    padding-bottom: 80px;
    
    
}

.coloum{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rs{
    margin-top: -20px;
    font-size: 28px;
}
.rs>h3{
    
    color: #4200FF;
    margin-bottom: -20px;
}

.tabel{
    padding-top: 15px;
    margin-left: 50px;
    width: 406px;
    height: 650px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px gray;;
}

.tabel>h3{
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 20px;
}

table{
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
}

.isi-data>tr>td{
    color: #4200FF;
    border-top-style:solid;
    border-bottom-style: solid;
    border-color: #f1f1f1;
    padding-top: 12px;
    padding-bottom: 12px;
}

.edit-jadwal{
    margin-top: 40px;
    text-align: center;
    margin-left: 80px;
    width: 226px;
    height: 50px;
    background-color: #4200FF;
    border-radius: 20px;
    padding-top: 20px;
}

.edit-jadwal>a{
    margin-bottom: -20px;
    color: white;
    text-decoration: none;
    
}

.admin>h2{
    margin-top: -10px;
    font-size: 50px;
    padding-left: 40px;
}

